[Unit]
Description=qFiber Firewall
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/qff -config /etc/qfw/qfw.conf
SyslogIdentifier=qFiber Firewall
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target